<div class="navbar fixed top-0 z-50 h-14 w-full bg-ang-white px-2 shadow-md">
  <div
    class="container m-auto flex h-full justify-between text-ang-black md:items-center"
  >
    <div class="flex items-center gap-2">
      <img src="/assets/logo/logo.png" alt="" srcset="" class="h-10 w-10" />
      <div class="text-base font-semibold leading-5 sm:text-lg sm:leading-5">
        <h5>now</h5>
        <h5>Around</h5>
      </div>
    </div>
    <div class="block hover:cursor-pointer md:hidden" (click)="showNavBar()">
      <svg
        [ngClass]="{ hidden: isNavBarShown }"
        xmlns="http://www.w3.org/2000/svg"
        height="58px"
        viewBox="0 -960 960 960"
        width="58px"
        fill="#2c2b2b"
      >
        <path
          d="M120-240v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z"
        />
      </svg>
      <svg
        [ngClass]="{ hidden: !isNavBarShown }"
        xmlns="http://www.w3.org/2000/svg"
        height="58px"
        viewBox="0 -960 960 960"
        width="58px"
        fill="#2c2b2b"
      >
        <path
          d="m249-207-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"
        />
      </svg>
    </div>

    <nav
      class="absolute right-0 top-16 w-full bg-ang-white bg-opacity-85 text-right md:static md:block md:w-fit md:bg-transparent"
      [ngClass]="{ hidden: !isNavBarShown }"
    >
      <ul
        class="flex flex-col justify-center gap-2 text-xl text-ang-black md:flex-row md:items-center lg:gap-4"
      >
        <li
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="text-ang-orange"
          routerLink="homepage"
          class="p-4 hover:cursor-pointer hover:text-ang-orange"
        >
          <p>{{ "HOME" | translate }}</p>
        </li>
        <li
          routerLinkActive="text-ang-orange"
          class="p-4 hover:cursor-pointer hover:text-ang-orange"
        >
          <p>{{ "MAPS" | translate }}</p>
        </li>
        <li
          routerLinkActive="text-ang-orange"
          class="p-4 hover:cursor-pointer hover:text-ang-orange"
        >
          <p>{{ "DISCOVER" | translate }}</p>
        </li>
        <li
          routerLinkActive="text-ang-orange"
          routerLink="/user-account"
          class="p-4 hover:cursor-pointer hover:text-ang-orange"
        >
          <p>{{ "PROFILE" | translate }}</p>
        </li>
        <li class="p-4">
          <select
            name="languageSet"
            [(ngModel)]="languageSet"
            (ngModelChange)="changeLang($event)"
            class="rounded-md bg-ang-orange px-3 py-1 font-semibold"
          >
            <option value="0" class="bg-ang-white">EN</option>
            <option value="1" class="bg-ang-white">SK</option>
          </select>
        </li>
      </ul>
    </nav>
  </div>
</div>
