<section class="h-full min-h-[100svh] w-full overflow-hidden bg-ang-white">
  <div class="flex flex-col">
    @if (estProfile) {
      <div
        class="flex h-60 w-full items-center justify-center border-2 border-b-ang-orange transition-all hover:cursor-pointer hover:bg-ang-black hover:bg-opacity-40"
      >
        <label
          for="backgroundPreviewImage"
          class="flex h-full w-full items-center justify-center bg-ang-black bg-opacity-10"
        >
          <img
            *ngIf="estProfile.backgroundPictureUrl; else defaultImage"
            [src]="estProfile.backgroundPictureUrl"
            class="h-full w-full object-cover"
            alt="Uploaded Image"
          />
          <ng-template #defaultImage>
            <img
              src="userProfile/image.png"
              width="64px"
              height="64px"
              alt="Default Placeholder"
            />
          </ng-template>
        </label>
        <input
          (change)="onFileChange($event, 'background-picture')"
          class="hidden"
          type="file"
          id="backgroundPreviewImage"
          formControlName="backgroundPreviewImage"
        />
      </div>
      <div class="container mx-auto px-2">
        <div
          class="relative bottom-14 flex flex-col items-center border-b-2 border-ang-orange sm:bottom-0 sm:flex-row sm:items-start"
        >
          <div
            class="flex w-full flex-col items-center justify-between gap-2 p-4 text-ang-black sm:flex-row"
          >
            <div
              class="absolute -top-16 bottom-0 h-40 w-40 rounded-md bg-ang-white outline outline-2 outline-ang-orange"
            >
              <label
                for="profilePreviewImage"
                class="flex h-full w-full items-center justify-center bg-ang-black bg-opacity-10"
              >
                <img
                  *ngIf="estProfile.profilePictureUrl; else defaultProfileImage"
                  [src]="estProfile.profilePictureUrl"
                  class="h-full w-full object-cover"
                  alt="Uploaded Image"
                />
                <ng-template #defaultProfileImage>
                  <img
                    src="userProfile/image.png"
                    class="h-full w-full"
                    alt="Default Placeholder"
                  />
                </ng-template>
              </label>
              <input
                (change)="onFileChange($event, 'profile-picture')"
                class="hidden"
                type="file"
                id="profilePreviewImage"
                formControlName="profilePreviewImage"
              />
            </div>
            <div
              class="flex h-fit min-h-24 flex-col items-center gap-2 sm:items-start sm:pl-44"
            >
              <div
                class="flex flex-col items-center gap-4 pt-28 sm:items-start sm:pt-0 xl:flex-row xl:items-center"
              >
                <h1
                  class="w-full text-center text-2xl sm:text-left xl:text-3xl"
                >
                  {{ estProfile.name }}
                </h1>
                <div
                  class="flex flex-row flex-wrap justify-center gap-1 sm:flex-nowrap xl:justify-start"
                >
                  <p
                    *ngFor="let category of estProfile.categories"
                    class="rounded-md bg-ang-orange bg-opacity-80 px-2 text-sm text-ang-black transition-all hover:scale-110"
                  >
                    {{ "CATEGORIES." + category | translate }}
                  </p>
                </div>
              </div>

              <ul class="flex flex-col items-center gap-4 sm:flex-row">
                <li
                  [routerLink]="['posts']"
                  routerLinkActive="text-ang-orange border-b-2 border-ang-orange"
                  class="cursor-pointer hover:text-ang-orange"
                >
                  {{ "establishmentProfileNav-Post" | translate }}
                </li>
                @if (tabLink) {
                  <li
                    [routerLink]="['tabs']"
                    routerLinkActive="text-ang-orange border-b-2 border-ang-orange"
                    class="cursor-pointer hover:text-ang-orange"
                  >
                    {{ "establishmentProfileNav-Menu" | translate }}
                  </li>
                }
                @if (eventLink) {
                  <li
                    [routerLink]="['events']"
                    routerLinkActive="text-ang-orange border-b-2 border-ang-orange"
                    class="cursor-pointer hover:text-ang-orange"
                  >
                    {{ "establishmentProfileNav-Event" | translate }}
                  </li>
                }
                <li
                  [routerLink]="['reviews']"
                  routerLinkActive="text-ang-orange border-b-2 border-ang-orange"
                  class="cursor-pointer hover:text-ang-orange"
                >
                  {{ "establishmentProfileNav-Rev" | translate }}
                </li>
                <li
                  (click)="openWindow()"
                  class="cursor-pointer hover:text-ang-orange"
                >
                  {{ "establishmentProfileNav-Info" | translate }}
                </li>
              </ul>
            </div>
            @if (isLoggedIn()) {
              <div class="flex gap-6">
                <button (click)="openAddWindow()">
                  <img
                    src="userProfile/plus.png"
                    alt="Edit profile button"
                    class="h-8 w-8 transition-all hover:scale-110"
                  />
                </button>
                <button (click)="openEditWindow()">
                  <img
                    src="userProfile/edit.png"
                    alt="Edit profile button"
                    class="h-8 w-8 transition-all hover:scale-110"
                  />
                </button>
              </div>
            } @else {
              <div class="flex gap-4">
                <button>Follow</button>
                <button>Settings</button>
              </div>
            }
          </div>
        </div>

        <router-outlet></router-outlet>
      </div>
      <app-add
        *ngIf="addWindow()"
        (close)="closeAddWindow()"
        class="fixed top-0 z-50 h-full w-full"
      ></app-add>
      <app-establishment-edit
        *ngIf="editWindow()"
        (close)="closeEditWindow()"
        class="fixed top-0 z-50 h-full w-full"
      ></app-establishment-edit>
      <app-info
        *ngIf="isWindowShown()"
        (close)="closeWindow()"
        class="fixed top-0 z-50 h-full w-full"
      ></app-info>
    }
  </div>
</section>
