<div class="flex min-h-[100svh] items-center justify-center px-2 py-20">
  <div
    class="flex w-full flex-col items-center justify-center gap-8 text-ang-black"
  >
    <div class="w-full max-w-[50rem] bg-ang-black bg-opacity-5 p-5">
      <h1 class="pb-5 text-lg font-bold text-ang-orange sm:text-xl">
        Step 1: Personal information
      </h1>
      <app-establishment-register-personal-info></app-establishment-register-personal-info>
    </div>
    <div class="w-full max-w-[50rem] bg-ang-black bg-opacity-5 p-5">
      <h1 class="pb-5 text-lg font-bold text-ang-orange sm:text-xl">
        Step 2: Establishment information
      </h1>
      <app-establishment-register></app-establishment-register>
    </div>
    <p *ngIf="error" class="text-red-600">Please fill all required inputs</p>
    <button (click)="registerEstablishment()" class="primary-buttons">
      Register establishment
    </button>
    <p class="text-center">
      Already have an estabilishment?<span
        class="font-bold text-ang-orange hover:cursor-pointer hover:opacity-70"
        routerLink="/establishment-login"
      >
        Log in</span
      >
    </p>
  </div>
</div>
