<div class="flex flex-col gap-5">
  <form
    class="flex flex-col gap-5 text-ang-black"
    [formGroup]="establishmentRegister"
  >
    <div class="flex flex-col gap-6 sm:flex-row">
      <label
        for="establishmentPhoto"
        class="flex h-32 w-full items-center justify-center border-2 border-ang-orange bg-ang-black bg-opacity-10 sm:h-40 sm:w-48 sm:rounded-full"
      >
        <img
          *ngIf="previewImage; else defaultImage"
          [src]="previewImage"
          class="h-full w-full object-cover sm:rounded-full"
          alt="Uploaded Image"
        />
        <ng-template #defaultImage>
          <img
            src="../../../../assets/registerIcon/gallery.png"
            width="64px"
            height="64px"
            alt="Default Placeholder"
          />
        </ng-template>
      </label>
      <input
        (change)="onFileChange($event)"
        class="hidden"
        type="file"
        id="establishmentPhoto"
        formControlName="establishmentPhoto"
      />
      <div class="flex w-full flex-col gap-4">
        <div class="flex flex-col">
          <label for="establishmentName" class="font-semibold">{{
            "establishmentReg-estRegForm-estName" | translate
          }}</label>
          <input
            type="text"
            class="rounded-md border border-ang-orange p-1"
            id="establishmentName"
            formControlName="establishmentName"
          />
        </div>
        <div
          *ngIf="
            f['establishmentName'].invalid &&
            (f['establishmentName'].dirty || f['establishmentName'].touched)
          "
        >
          <div
            *ngIf="f['establishmentName'].errors?.['required']"
            class="text-red-600"
          >
            {{ "establishmentReg-estRegFormError-estName" | translate }}
          </div>
        </div>
        <div class="flex flex-col gap-4 sm:flex-row">
          <div class="w-full">
            <label for="establishmentCategory" class="font-semibold">{{
              "Select category*" | translate
            }}</label>
            <select
              #categorySelect
              class="w-full rounded-lg border border-ang-orange p-1"
              (change)="addCategory(categorySelect.value)"
              name="establishmentCategory"
              id="establishmentCategory"
              formControlName="establishmentCategory"
            >
              <option *ngFor="let category of category" [value]="category">
                {{ "CATEGORIES." + category | translate }}
              </option>
            </select>
            <p *ngIf="catError" class="text-red-600">
              {{ "catError." + catError | translate }}
            </p>
            <div
              *ngFor="let category of establishmentCategory"
              class="flex justify-between pb-0.5"
            >
              <p>{{ "CATEGORIES." + category | translate }}</p>
              <button (click)="removeCategory(category)">X</button>
            </div>
          </div>
          <div class="w-full">
            <label for="establishmentPrize" class="font-semibold">{{
              "Select prize*" | translate
            }}</label>
            <select
              class="w-full rounded-lg border border-ang-orange p-1"
              name="establishmentPrize"
              id="establishmentPrize"
              formControlName="establishmentPrize"
            >
              <option value="€">€</option>
              <option value="€€">€€</option>
              <option value="€€€">€€€</option>
            </select>
            <div
              *ngIf="
                f['establishmentPrize'].invalid &&
                (f['establishmentPrize'].dirty ||
                  f['establishmentPrize'].touched)
              "
            >
              <div
                *ngIf="f['establishmentPrize'].errors?.['required']"
                class="text-red-600"
              >
                {{ "establishmentReg-estRegFormError-prizeRange" | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-4">
      <h1 class="font-semibold">
        {{ "establishmentReg-estRegForm-tags" | translate }}
      </h1>
      <div class="flex flex-wrap items-center gap-5 lg:justify-between">
        <button
          (click)="addTag(tag)"
          *ngFor="let tag of tags"
          [ngClass]="{
            'bg-ang-orange text-white': establishmentTags.includes(tag),
            'bg-white text-ang-black': !establishmentTags.includes(tag),
          }"
          class="w-[7.5rem] rounded-md border border-ang-orange px-1 py-0.5 sm:w-32"
        >
          {{ "TAGS." + tag | translate }}
        </button>
      </div>
    </div>
    <p *ngIf="tagError" class="text-center text-red-600">
      {{ "tagError." + tagError | translate }}
    </p>
    <div class="flex flex-col gap-6 sm:flex-row">
      <div class="flex w-full flex-col">
        <label for="establishmentCity" class="font-semibold">{{
          "establishmentReg-estRegForm-city" | translate
        }}</label>
        <input
          type="text"
          class="rounded-md border border-ang-orange p-1"
          id="establishmentCity"
          formControlName="establishmentCity"
        />
        <div
          *ngIf="
            f['establishmentCity'].invalid &&
            (f['establishmentCity'].dirty || f['establishmentCity'].touched)
          "
        >
          <div
            *ngIf="f['establishmentCity'].errors?.['required']"
            class="text-red-600"
          >
            {{ "establishmentReg-estRegFormError-city" | translate }}
          </div>
        </div>
      </div>
      <div class="flex w-full flex-col">
        <label for="establishmentAddress" class="font-semibold">{{
          "establishmentReg-estRegForm-address" | translate
        }}</label>
        <input
          type="text"
          class="rounded-md border border-ang-orange p-1"
          id="establishmentAddress"
          formControlName="establishmentAddress"
        />
        <div
          *ngIf="
            f['establishmentAddress'].invalid &&
            (f['establishmentAddress'].dirty ||
              f['establishmentAddress'].touched)
          "
        >
          <div
            *ngIf="f['establishmentAddress'].errors?.['required']"
            class="text-red-600"
          >
            {{ "establishmentReg-estRegFormError-address" | translate }}
          </div>
        </div>
      </div>
    </div>
  </form>
  <p class="pt-6 text-right">{{ "establishmentReg-reqFooter" | translate }}</p>
</div>
