<div class="max-h-[35rem] overflow-y-scroll">
  <h2 class="py-4 text-center text-2xl">
    {{ "establishmentAddEvent-headline" | translate }}
  </h2>
  <form
    (ngSubmit)="submitEvent()"
    class="flex w-full flex-col gap-4"
    [formGroup]="eventForm"
  >
    <div class="flex w-full items-center justify-center">
      <label for="image">
        <img
          *ngIf="eventImg; else defaultEventImage"
          [src]="eventImg"
          class="max-w-72 object-cover"
          alt="Uploaded Image"
        />
        <ng-template #defaultEventImage>
          <div class="text-center">
            <svg
              class="mx-auto h-12 w-12 text-gray-400"
              stroke="currentColor"
              fill="none"
              viewBox="0 0 48 48"
              aria-hidden="true"
            >
              <path
                d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <p class="mt-1 text-sm text-gray-600">
              {{ "establishmentAdd-uploadImg" | translate }}
            </p>
          </div>
        </ng-template>
      </label>
      <input
        (change)="uploadImg($event)"
        class="hidden"
        type="file"
        id="image"
        formControlName="image"
      />
    </div>
    <span
      *ngIf="eventForm.get('image')?.hasError('invalidFileType')"
      class="text-sm text-ang-redAlert"
      >{{ "establishmentAddPostError-imgFileType" | translate }}</span
    >
    <span
      *ngIf="eventForm.get('image')?.hasError('fileSizeExceeded')"
      class="text-sm text-ang-redAlert"
      >{{ "establishmentAddPostError-imgFileSize" | translate }}</span
    >
    <div class="flex flex-col gap-1">
      <label for="title">{{ "establishmentAddEvent-title" | translate }}</label>
      <input
        maxlength="64"
        class="h-8 w-full rounded-lg border border-ang-orange p-1"
        type="text"
        id="title"
        formControlName="title"
      />
      <span
        *ngIf="f['title'].invalid && f['title'].touched"
        class="text-ang-redAlert"
      >
        {{ "establishmentAddPostError-title" | translate }}
      </span>
    </div>
    <div class="flex flex-col gap-1">
      <label for="body">{{
        "establishmentAddEvent-description" | translate
      }}</label>
      <textarea
        maxlength="255"
        class="w-full rounded-lg border border-ang-orange p-1"
        id="body"
        formControlName="body"
      ></textarea>
      <span
        *ngIf="f['body'].invalid && f['body'].touched"
        class="text-ang-redAlert"
      >
        {{ "establishmentAddEventError-description" | translate }}
      </span>
    </div>
    <div class="flex flex-col gap-4 sm:flex-row">
      <div class="flex flex-col gap-2">
        <label for="startDateOfEvent" class="text-sm sm:text-base">
          {{ "establishmentAddEvent-startDateOfEvent" | translate }}
        </label>
        <div class="flex flex-wrap gap-2">
          <input
            class="h-10 w-full rounded-lg border border-ang-orange p-2 sm:w-auto"
            type="date"
            id="startDateOfEvent"
            formControlName="startDateOfEvent"
          />
          <input
            class="h-10 w-full rounded-lg border border-ang-orange p-2 sm:w-auto"
            type="time"
            id="startTimeOfEvent"
            formControlName="startTimeOfEvent"
          />
        </div>
        <span
          *ngIf="f['startDateOfEvent'].invalid && f['startDateOfEvent'].touched"
          class="text-ang-redAlert"
        >
          {{ "establishmentAddEventError-dateOfEvent" | translate }}
        </span>
      </div>
      <div class="flex flex-col gap-2">
        <label for="endDateOfEvent" class="text-sm sm:text-base">
          {{ "establishmentAddEvent-endDateOfEvent" | translate }}
        </label>
        <div class="flex flex-wrap gap-2">
          <input
            class="h-10 w-full rounded-lg border border-ang-orange p-2 sm:w-auto"
            type="date"
            id="endDateOfEvent"
            formControlName="endDateOfEvent"
          />
          <input
            class="h-10 w-full rounded-lg border border-ang-orange p-2 sm:w-auto"
            type="time"
            id="endTimeOfEvent"
            formControlName="endTimeOfEvent"
          />
        </div>
        <span
          *ngIf="f['endDateOfEvent'].invalid && f['endDateOfEvent'].touched"
          class="text-ang-redAlert"
        >
          {{ "establishmentAddEventError-dateOfEvent" | translate }}
        </span>
      </div>
    </div>
    <span
      *ngIf="eventForm.errors?.['endBeforeStart']"
      class="text-ang-redAlert"
    >
      {{ "establishmentAddEventError-endBeforeStart" | translate }}
    </span>
    <div class="flex flex-col gap-1">
      <label for="location">{{
        "establishmentAddEvent-location" | translate
      }}</label>
      <input
        class="h-8 w-full rounded-lg border border-ang-orange p-1"
        type="text"
        maxlength="64"
        id="location"
        formControlName="location"
      />
      <span
        *ngIf="f['location'].invalid && f['location'].touched"
        class="text-ang-redAlert"
      >
        {{ "establishmentAddEventError-location" | translate }}
      </span>
    </div>
    <div class="flex flex-col gap-1">
      <label for="eventDuration">{{
        "establishmentAddEvent-city" | translate
      }}</label>
      <input
        class="h-8 w-full rounded-lg border border-ang-orange p-1"
        type="text"
        maxlength="64"
        id="city"
        formControlName="city"
      />
      <span
        *ngIf="f['city'].invalid && f['city'].touched"
        class="text-ang-redAlert"
      >
        {{ "establishmentAddEventError-eventDuration" | translate }}
      </span>
    </div>
    <div class="flex flex-col gap-1">
      <div class="relative flex flex-row-reverse items-center justify-between">
        <div class="has-tooltip group w-fit">
          <span
            class="tooltip invisible absolute right-0 z-50 -mt-24 w-max rounded border bg-ang-white p-2 text-ang-black shadow-lg group-hover:visible"
          >
            <ul>
              <li>{{ "establishmentAddEvent-infoPriceFirst" | translate }}</li>
              <li>{{ "establishmentAddEvent-infoPriceSecond" | translate }}</li>
              <li>
                {{ "establishmentAddEvent-infoPriceThird" | translate }}
              </li>
            </ul></span
          >
          <img
            src="establishment/establishmentForm/i.png"
            alt=""
            srcset=""
            class="h-6 w-6"
          />
        </div>
        <label for="price">{{
          "establishmentAddEvent-price" | translate
        }}</label>
      </div>
      <div class="flex gap-2">
        <input
          class="h-8 w-full rounded-lg border border-ang-orange p-1"
          type="string"
          maxlength="12"
          id="price"
          formControlName="price"
        />
        <select
          name="typeOfPrice"
          id="typeOfPrice"
          class="max-w-12 rounded-lg border border-ang-orange p-1"
          formControlName="eventPriceCategory"
        >
          <option value="*" selected></option>
          <option value="eur">€</option>
          <option value="per">%</option>
        </select>
      </div>
      <span
        *ngIf="
          f['eventPriceCategory'].invalid && f['eventPriceCategory'].touched
        "
        class="text-ang-redAlert"
      >
        {{ "establishmentAddEventError-eventPriceCategory" | translate }}
      </span>
      <span
        *ngIf="f['price'].invalid && f['price'].touched"
        class="text-ang-redAlert"
      >
        {{ "establishmentAddEventError-price" | translate }}
      </span>
    </div>
    <div class="flex flex-col gap-1">
      <div class="relative flex flex-row-reverse items-center justify-between">
        <div class="has-tooltip group w-fit">
          <span
            class="tooltip invisible absolute right-0 z-50 -mt-16 w-max rounded border bg-ang-white p-2 text-ang-black shadow-lg group-hover:visible"
          >
            <ul>
              <li class="max-w-80">
                {{ "establishmentAddEvent-infoParticipants" | translate }}
              </li>
            </ul></span
          >
          <img
            src="establishment/establishmentForm/i.png"
            alt=""
            srcset=""
            class="h-6 w-6"
          />
        </div>
        <label for="maxParticipants">{{
          "establishmentAddEvent-maxParticipants" | translate
        }}</label>
      </div>

      <select
        class="h-8 w-full rounded-lg border border-ang-orange p-1"
        id="maxParticipants"
        formControlName="maxParticipants"
      >
        <option
          *ngFor="let participants of maxParticipants"
          [value]="participants"
        >
          {{ participants }}
        </option>
      </select>
      <span
        *ngIf="f['maxParticipants'].invalid && f['maxParticipants'].touched"
        class="text-ang-redAlert"
      >
        {{ "establishmentAddEventError-maxParticipants" | translate }}
      </span>
    </div>
    <div class="flex flex-col gap-1">
      <label for="category">{{
        "establishmentAddEvent-eventCategory" | translate
      }}</label>
      <select
        class="h-8 w-full rounded-lg border border-ang-orange p-1"
        id="category"
        formControlName="eventCategory"
      >
        <option *ngFor="let category of eventCategories" [value]="category">
          {{ category }}
        </option>
      </select>
      <span
        *ngIf="f['eventCategory'].invalid && f['eventCategory'].touched"
        class="text-ang-redAlert"
      >
        {{ "establishmentAddEventError-eventCategory" | translate }}
      </span>
    </div>

    <button type="submit" class="primary-buttons">
      {{ "utils-submitButton" | translate }}
    </button>
    <button
      type="button"
      (click)="cancelAddingEvent()"
      class="secondary-buttons border-2"
    >
      {{ "utils-cancelButton" | translate }}
    </button>
  </form>
</div>
