<div>
  <div *ngIf="postList?.length == 0; else showItems">
    <p class="pt-4 text-center text-xl">Establishment havent added any posts</p>
  </div>
  <ng-template #showItems>
    <div class="flex gap-2 pt-4">
      <input
        type="search"
        class="h-8 w-full rounded-lg border border-ang-orange p-1"
      />
      <button>Search</button>
    </div>
    <div
      class="flex flex-wrap items-center justify-center gap-4 py-4 md:justify-evenly xl:justify-between"
    >
      <div
        *ngFor="let post of postList"
        class="row-span-2 flex max-h-[30rem] w-full max-w-96 flex-col gap-2 rounded-md border border-ang-orange"
      >
        @if (post.imageUrl) {
          <img
            [src]="post.imageUrl"
            alt="Post image"
            class="h-96 w-96 rounded-t-md"
          />
        }
        <div class="flex flex-col justify-between pl-1">
          <div>
            <h2 class="text-xl">{{ post.headline }}</h2>
            <p class="text-sm">
              {{ post.createdAt | date: "mediumDate" }}
            </p>
          </div>
          <p class="text-base">{{ post.body }}</p>

          <span class="text-sm">{{ post.userLikes.length }} interests</span>
        </div>
      </div>
    </div>
  </ng-template>
</div>
