<div>
  <div *ngIf="postList.length == 0; else showItems">
    <p class="pt-4 text-center text-xl">
      {{ "establishmentPost-Error" | translate }}
    </p>
  </div>
  <ng-template #showItems>
    <div class="flex gap-2 pt-4">
      <input
        type="search"
        class="h-8 w-full rounded-lg border border-ang-orange p-1"
      />
      <button>Search</button>
    </div>
    <div
      class="flex flex-wrap items-center justify-center gap-4 py-4 md:justify-start"
    >
      <div
        *ngFor="let post of postList"
        class="relative row-span-2 flex max-h-[30rem] w-full max-w-96 flex-col gap-2 rounded-md border border-ang-orange"
      >
        <img
          *ngIf="post.pictureUrl; else defaultPicutre"
          [src]="post.pictureUrl"
          alt="Post image"
          class="h-96 w-96 rounded-t-md"
        />
        <ng-template #defaultPicutre>
          <img
            src="/logo/logo.png"
            alt="Post image"
            class="h-96 w-96 rounded-t-md"
          />
        </ng-template>
        <div class="flex flex-col justify-between pl-1">
          <div>
            <h2 class="text-xl">{{ post.headline }}</h2>
            <p class="text-sm">
              {{ post.createdAt | date: "mediumDate" }}
            </p>
          </div>
          <p class="text-base">{{ post.body }}</p>

          <span class="text-sm"
            >{{ post.likes.length }}
            {{ "establishmentProfile-Like" | translate }}</span
          >
          <button
            class="absolute right-2 top-2 transition-all hover:scale-125"
            *ngIf="isLoggedIn()"
            (click)="deletePost(post.id)"
          >
            <img src="/icons/bin.png" class="h-6 w-6" alt="" />
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</div>
