<div
  class="flex h-full w-full items-center justify-center bg-ang-black bg-opacity-60 px-6"
>
  <div
    class="container relative m-auto flex h-2/3 w-full flex-col items-center justify-evenly gap-6 rounded-sm bg-ang-white p-6 md:gap-10 md:p-10 lg:h-1/2 lg:w-2/3 lg:flex-row"
  >
    <button
      (click)="closeModalWindow()"
      class="absolute -right-5 -top-5 rounded-full bg-ang-orange px-2 py-2 transition-all hover:scale-110"
    >
      <span
        class="material-symbols-outlined flex items-center justify-center text-ang-black"
        >close</span
      >
    </button>
    <div
      class="flex h-full w-full flex-col items-center justify-between rounded-lg border border-ang-orange"
    >
      <h3
        class="flex h-16 w-full items-center justify-center border-b border-b-ang-orange text-ang-black"
      >
        {{ "roleSelectionPage-fc-firstCard" | translate }}
      </h3>
      <ul class="flex flex-col justify-center px-2">
        <li>
          <p>{{ "roleSelectionPage-fc-firstListItem" | translate }}</p>
        </li>
        <li>
          <p>{{ "roleSelectionPage-fc-secondListItem" | translate }}</p>
        </li>
        <li>
          <p>{{ "roleSelectionPage-fc-thirdListItem" | translate }}</p>
        </li>
      </ul>
      <button
        class="secondary-buttons m-4 border border-ang-orange"
        (click)="guestAccountButton()"
      >
        {{ "roleSelectionPage-fc-button" | translate }}
      </button>
    </div>
    <div
      class="flex h-full w-full flex-col items-center justify-between rounded-lg border border-ang-orange"
    >
      <h3
        class="flex h-16 w-full items-center justify-center rounded-t-md border-b border-b-ang-orange bg-ang-orange text-ang-black"
      >
        {{ "roleSelectionPage-sc-secondCard" | translate }}
      </h3>
      <ul class="flex flex-col justify-center px-2">
        <li>
          <p>{{ "roleSelectionPage-sc-firstListItem" | translate }}</p>
        </li>
        <li>
          <p>{{ "roleSelectionPage-sc-secondListItem" | translate }}</p>
        </li>
        <li>
          <p>{{ "roleSelectionPage-sc-thirdListItem" | translate }}</p>
        </li>
        <li>
          <p>{{ "roleSelectionPage-sc-fourthListItem" | translate }}</p>
        </li>
      </ul>
      <button class="primary-buttons m-4">
        {{ "roleSelectionPage-sc-button" | translate }}
      </button>
    </div>
  </div>
</div>
