<div
  class="z-10 flex h-full w-full items-center justify-center bg-ang-black bg-opacity-60 md:px-6"
  (click)="closeModal()"
>
  <div
    class="relative top-0 flex h-full w-full flex-col gap-5 rounded-lg bg-ang-white md:top-5 md:h-[40rem] md:w-[40rem]"
    (click)="stopPropagation($event)"
  >
    <button
      (click)="closeModal()"
      class="absolute -right-0 -top-0 z-50 w-10 overflow-visible rounded-bl-lg bg-ang-orange p-2 transition-all hover:scale-110 md:-right-5 md:-top-5 md:rounded-full"
    >
      <span class="flex items-center justify-center text-ang-black">X</span>
    </button>
    <div class="z-40 overflow-y-scroll px-2">
      <div class="flex w-full flex-col gap-4 px-2 py-2 md:px-0">
        <div #info>
          <app-info></app-info>
        </div>
      </div>
    </div>
  </div>
</div>
