<div class="flex flex-col gap-4 pt-4 text-ang-orange sm:-top-4">
  <h4 class="text-xl font-semibold">About me</h4>
  <p class="text-md text-ang-black">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam debitis
    labore consectetur voluptatibus mollitia dolorem veniam omnis ut quibusdam
    minima sapiente repellendus asperiores explicabo, eligendi odit, dolore
    similique fugiat dolor, doloremque eveniet. Odit, consequatur. Ratione
    voluptate exercitationem hic eligendi vitae animi nam in, est earum culpa
    illum aliquam.
  </p>
</div>
