<div class="bg-ang-white px-4 text-ang-black">
  <div
    class="container m-auto flex flex-col items-center justify-between gap-4 border-t-2 border-ang-black py-6 md:flex-row"
  >
    <div class="flex items-center gap-2">
      <img src="/logo/logo.png" alt="footerLogo" class="h-8 w-8" />
      <p>nowAround</p>
    </div>
    <div class="flex flex-col items-center gap-2 md:flex-row">
      <p class="text-center font-semibold text-ang-orange">
        © 2024 NowAround. All rights reserved.
      </p>
      <ul class="flex flex-col gap-4 md:flex-row">
        <li class="hover:cursor-pointer hover:text-ang-orange">
          Privacy Policy
        </li>
        <li class="hover:cursor-pointer hover:text-ang-orange">
          Terms of Service
        </li>
        <li class="hover:cursor-pointer hover:text-ang-orange">
          Cookies Settings
        </li>
      </ul>
    </div>
    <div class="flex gap-3">
      <img
        src="/landing/downloadSection/androidDownload.png"
        alt=""
        srcset=""
        class="h-6 w-6"
      />
      <img
        src="/landing/downloadSection/iosDownload.png"
        alt=""
        srcset=""
        class="h-6 w-6"
      />
    </div>
  </div>
</div>
