<div class="h-12 bg-ang-black text-ang-white">
  <div
    class="container m-auto flex h-full flex-col items-center justify-between sm:flex-row"
  >
    <div>
      <ul class="flex gap-4">
        <li>Privacy</li>
        <li>Security</li>
        <li>Cookie</li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="flex items-center gap-2">
      <img
        src="assets/logo/logo.png"
        alt="footerLogo"
        class="h-4 w-4 md:h-8 md:w-8"
      />
      <p>© 2024 NowAround.</p>
    </div>
  </div>
</div>
