<div class="flex h-[100svh] items-center justify-center px-2">
  <div
    class="flex w-max flex-col items-center justify-center gap-4 text-ang-black"
  >
    <div class="flex w-full flex-col">
      <div class="flex flex-col gap-4 sm:flex-row">
        <div class="flex w-full flex-col gap-1">
          <label for="firstName"
            ><p class="font-semibold">
              {{ "registerPage-firstName" | translate }}
            </p></label
          >
          <input
            placeholder="{{ 'registerPage-firstName' | translate }}"
            [(ngModel)]="firstName"
            (input)="validateName(); removeError()"
            type="text"
            id="firstName"
            class="rounded-md border border-ang-orange p-1"
          />
        </div>
        <div class="flex w-full flex-col gap-1">
          <label for="lastName"
            ><p class="font-semibold">
              {{ "registerPage-lastName" | translate }}
            </p></label
          >
          <input
            [(ngModel)]="lastName"
            placeholder="{{ 'registerPage-lastName' | translate }}"
            (input)="validateName(); removeError()"
            type="text"
            id="lastName"
            class="rounded-md border border-ang-orange p-1"
          />
        </div>
      </div>
      <ul
        class="list-disc overflow-hidden pl-4 transition-all duration-500 ease-in-out"
        [ngClass]="{
          'max-h-0': nameValidations.regex,
          'max-h-24': !nameValidations.regex,
        }"
      >
        <li
          class="text-sm opacity-90 transition-all duration-300"
          [ngClass]="{
            'text-green-600': nameValidations.regex,
            'text-red-600': !nameValidations.regex,
          }"
        >
          {{ "registerPageErrorValid-nameValidation" | translate }}
        </li>
      </ul>
    </div>

    <div class="flex w-full flex-col gap-1">
      <label for="email"><p class="font-semibold">Email*</p></label>
      <input
        [(ngModel)]="email"
        placeholder="{{ 'Email' | translate }}"
        (input)="validateEmail(); removeError()"
        type="text"
        id="email"
        class="rounded-md border border-ang-orange p-1"
      />
      <ul
        class="list-disc overflow-hidden pl-4 transition-all duration-500 ease-in-out"
        [ngClass]="{
          'max-h-0': emailValidations.regex,
          'max-h-24': !emailValidations.regex,
        }"
      >
        <li
          class="text-sm opacity-90 transition-all duration-300"
          [ngClass]="{
            'text-green-600': emailValidations.regex,
            'text-red-600': !emailValidations.regex,
          }"
        >
          {{ "registerPageErrorValid-emailValidation" | translate }}
        </li>
      </ul>
    </div>
    <div class="flex w-full flex-col gap-1">
      <label for="password"
        ><p class="font-semibold">
          {{ "registerPage-password" | translate }}
        </p></label
      >
      <input
        placeholder="{{ 'registerPage-password' | translate }}"
        [(ngModel)]="password"
        (input)="validatePassword(); removeError()"
        type="password"
        id="password"
        class="rounded-md border border-ang-orange p-1"
      />
      <ul
        class="list-disc overflow-hidden pl-4 transition-all duration-500 ease-in-out"
        [ngClass]="{
          'max-h-0': !showPasswordValidation,
          'max-h-24': showPasswordValidation,
        }"
      >
        <li
          class="text-sm opacity-90"
          [ngClass]="{
            'text-green-600': passwordValidations.uppercase,
            'text-red-600': !passwordValidations.uppercase,
          }"
        >
          {{ "registerPageErrorValid-passwordUpper" | translate }}
        </li>
        <li
          class="text-sm opacity-90"
          [ngClass]="{
            'text-green-600': passwordValidations.lowercase,
            'text-red-600': !passwordValidations.lowercase,
          }"
        >
          {{ "registerPageErrorValid-passwordLower" | translate }}
        </li>
        <li
          class="text-sm opacity-90"
          [ngClass]="{
            'text-green-600': passwordValidations.length,
            'text-red-600': !passwordValidations.length,
          }"
        >
          {{ "registerPageErrorValid-passwordLength" | translate }}
        </li>
      </ul>
    </div>
    <div class="flex w-full flex-col gap-1">
      <label for="repeatPassword"
        ><p class="font-semibold">
          {{ "registerPage-repeatPassword" | translate }}
        </p></label
      >
      <input
        [(ngModel)]="repeatPassword"
        placeholder="{{ 'registerPage-repeatPassword' | translate }}"
        (input)="validateRepeatPassword(); removeError()"
        type="password"
        id="repeatPassword"
        class="rounded-md border border-ang-orange p-1"
      />

      <ul
        class="list-disc overflow-hidden pl-4 transition-all duration-500 ease-in-out"
        [ngClass]="{
          'max-h-0': repeatPassowrdValidations.passwordsMatch,
          'max-h-24': !repeatPassowrdValidations.passwordsMatch,
        }"
      >
        <li
          class="text-sm opacity-90"
          [ngClass]="{
            'text-green-600': repeatPassowrdValidations.passwordsMatch,
            'text-red-600': !repeatPassowrdValidations.passwordsMatch,
          }"
        >
          {{ "registerPageErrorValid-repeatPassword" | translate }}
        </li>
      </ul>
    </div>
    <div class="flex flex-col items-center gap-6 pt-2">
      <p *ngIf="registerError" class="text-sm text-red-600 opacity-90">
        {{ "registerPage-registerError" | translate }}
      </p>
      <button class="primary-buttons w-full" (click)="register()">
        {{ "registerPage-registerButton" | translate }}
      </button>
      <p class="text-center">
        {{ "registerPage-registerText" | translate }}
        <span
          routerLink="/loginpage"
          class="font-bold text-ang-orange hover:cursor-pointer hover:opacity-80"
          >{{ "registerPage-backToLoginButton" | translate }}</span
        >
      </p>
    </div>
  </div>
</div>
