<div class="flex items-center w-full">
  <div class="w-full h-screen brightness-50 relative overflow-hidden">
    <div
      *ngFor="let image of images; let i = index"
      [@slideAnimation]="getState(i)"
      [ngStyle]="{ 'background-image': image }"
      class="absolute top-0 left-0 w-full h-full bg-cover bg-center bg-no-repeat z-10"
    ></div>
  </div>
  <div class="absolute w-full">
    <div class="container m-auto flex items-center px-4">
      <div class="max-w-[750px] text-base sm:text-4xl flex flex-col gap-4 z-10">
        <h1 class="text-ang-white font-normal">
          <span class="text-ang-orange text-lg sm:text-5xl font-bold"
            >nowAround</span
          >
          is your all-in-one web and mobile application designed to help you
          effortlessly explore and engage with Slovak establishments.
        </h1>
        <div class="flex gap-4 flex-col sm:flex-row">
          <button class="primary-buttons">Get started</button>
          <button class="secondary-buttons">Learn more</button>
        </div>
      </div>
    </div>
  </div>
</div>
