<div class="rounded-md border-2 p-2">
  <h1 class="text-left text-xl font-semibold text-ang-orange">
    Generic information
  </h1>
  <form
    [formGroup]="updatedGenericInfo"
    class="flex flex-col gap-2"
    (ngSubmit)="updateProfile()"
  >
    <div class="flex flex-col gap-2">
      <label for="name">Establishment name:</label>
      <input
        type="text"
        id="name"
        class="h-8 w-full rounded-lg border border-ang-orange p-1"
        formControlName="name"
      />
    </div>
    <div class="flex flex-col gap-2">
      <label for="description">Establishment description:</label>
      <textarea
        maxlength="126"
        id="description"
        class="h-16 w-full rounded-lg border border-ang-orange p-1"
        formControlName="description"
      ></textarea>
    </div>
    <h1>Tags:</h1>
    <div class="flex flex-wrap justify-center gap-5 lg:justify-between">
      <button
        type="button"
        (click)="addTag(tag)"
        *ngFor="let tag of tags"
        [ngClass]="{
          'bg-ang-orange text-white': establishmentTags!.includes(tag),
          'bg-white text-ang-black': !establishmentTags!.includes(tag),
        }"
        class="rounded-md border border-ang-orange px-1 py-0.5 text-sm sm:w-32"
      >
        {{ "TAGS." + tag | translate }}
      </button>
    </div>
    <p *ngIf="tagError" class="text-center text-ang-redAlert">
      {{ "tagError." + tagError | translate }}
    </p>
    <div class="w-full">
      <label for="categories" class="font-semibold">Categories:</label>
      <select
        #categorySelect
        class="w-full rounded-lg border border-ang-orange p-1"
        (change)="addCategory(categorySelect.value)"
        name="categories"
        id="categories"
        formControlName="categories"
      >
        <option *ngFor="let category of category" [value]="category">
          {{ "CATEGORIES." + category | translate }}
        </option>
      </select>
      <p *ngIf="catError" class="py-1 text-ang-redAlert">
        {{ "catError." + catError | translate }}
      </p>
      <div class="flex flex-col gap-1">
        <div
          *ngFor="let category of establishmentCategory"
          class="flex justify-between"
        >
          <p>{{ "CATEGORIES." + category | translate }}</p>
          <button (click)="removeCategory(category)">X</button>
        </div>
      </div>
    </div>
    <div class="relative flex flex-row-reverse items-center justify-between">
      <div class="has-tooltip group w-fit">
        <span
          class="tooltip invisible absolute right-0 z-50 -mt-24 w-max rounded border bg-ang-white p-2 text-ang-black shadow-lg group-hover:visible"
        >
          <ul>
            <li>
              {{ "establishmentReg-estRegForm-priceRange€" | translate }}
            </li>
            <li>
              {{ "establishmentReg-estRegForm-priceRange€€" | translate }}
            </li>
            <li>
              {{ "establishmentReg-estRegForm-priceRange€€€" | translate }}
            </li>
          </ul></span
        >
        <img
          src="establishment/establishmentForm/i.png"
          alt=""
          srcset=""
          class="h-6 w-6"
        />
      </div>
      <label for="price" class="font-semibold">{{
        "Select price*" | translate
      }}</label>
    </div>
    <select
      class="w-full rounded-lg border border-ang-orange p-1"
      name="price"
      id="price"
      formControlName="priceCategory"
    >
      <option value="0">€</option>
      <option value="1">€€</option>
      <option value="2">€€€</option>
    </select>
    <button class="primary-buttons">
      {{ "utils-submitButton" | translate }}
    </button>
  </form>
</div>
