@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@layer base {
  :root {
    --color-orange: 17.8deg 100% 71%;
    --color-white: 0deg 0% 98%;
    --color-black: 0deg 1.1% 17.8%;
  }
}

@layer utilities {
  .primary-buttons {
    @apply rounded-2xl bg-ang-orange px-8 py-1.5 text-base font-semibold text-ang-black hover:brightness-75 sm:py-2 sm:text-xl;
  }
  .secondary-buttons {
    @apply rounded-2xl bg-ang-white px-8 py-1.5 text-base font-semibold text-ang-black hover:brightness-75 sm:py-2 sm:text-xl;
  }
  p {
    @apply sm:text-lg;
  }
  h2 {
    @apply text-3xl font-bold text-ang-orange drop-shadow-lg sm:text-4xl;
  }
  h3 {
    @apply text-xl font-bold sm:text-2xl;
  }
}

* {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
