<div class="pt-4">
  <div *ngIf="!reviewList; else showItems">
    <p class="pt-4 text-center text-xl sm:pt-0">
      {{ "establishmentReview-Error" | translate }}
    </p>
  </div>

  <ng-template #showItems>
    <div
      class="flex flex-col-reverse items-center justify-between gap-8 sm:flex-row sm:items-start"
    >
      <div class="flex w-full flex-col gap-4">
        <div
          class="flex w-full flex-col gap-4"
          *ngIf="(customAuth.roleState$ | async) === 'User'"
        >
          <form action="" [formGroup]="userReview" (ngSubmit)="sendReview()">
            <div class="flex w-full flex-col gap-2">
              <textarea
                name="userReview"
                id="userReview"
                placeholder="Let others know what you think!"
                class="rounded-md border border-ang-orange p-2"
                formControlName="body"
              ></textarea>
              <select
                name="rating"
                id="rating"
                class="max-w-16 rounded-md border border-ang-orange p-1"
                formControlName="rating"
              >
                <option value="1">1*</option>
                <option value="2">2*</option>
                <option value="3">3*</option>
                <option value="4">4*</option>
                <option value="5">5*</option>
              </select>
            </div>
            <button class="primary-buttons mt-2 w-fit place-self-end">
              {{ "establishmentReview-Send" | translate }}
            </button>
          </form>
        </div>

        <div class="flex flex-col gap-4">
          <div
            *ngFor="let review of reviewList?.reviews"
            class="flex items-center justify-between rounded-md border border-ang-orange p-2 shadow-md"
          >
            <div class="flex flex-col gap-2">
              <div>
                <div class="flex items-center gap-2">
                  <h3 class="text-lg font-bold text-ang-orange">
                    {{ review.fullname }}
                  </h3>
                  <p class="text-sm text-ang-black">
                    {{ review.createdAt | date: "mediumDate" }}
                  </p>
                </div>
                <p class="text-sm text-gray-600">{{ review.rating }} Stars</p>
              </div>
              <p class="text-md">{{ review.body }}</p>
            </div>
            <div *ngIf="(customAuth.roleState$ | async) === 'Admin'">
              <button>{{ "establishmentReview-Remove" | translate }}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="flex w-full max-w-80 flex-col gap-4">
        <span class="font-bold">{{
          "establishmentReview-overallRating" | translate
        }}</span>
        <div *ngFor="let star of getStarKeys()">
          <div class="flex items-center gap-2">
            <span class="w-24 text-2xl text-yellow-500">{{
              star | starPipe
            }}</span>
            <div class="relative h-2 flex-1 rounded bg-gray-200">
              <div
                class="h-full rounded bg-ang-orange"
                [style.width.%]="getRatingPercentage(star)"
              ></div>
            </div>
            <span>{{ reviewList![star] }} votes</span>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
